body {
  background-image: url(https://wholesale.mud-pie.com/globalassets/product-images/large/4801025.jpg)
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  padding-top: 25px;
}
#form-one {
  background-color:rgb(255, 255, 255, .80) ;
  padding: 10px;
}